.botao{
  background-color: #6278F7;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  padding: 32px;
  border: none;
  cursor: pointer; /*indicador de Click*/
  color: #fff;
  margin: 32px 0;
}
.botao:hover {
  color: #97FFD4;
}